body{
  background-color: #eaf1f1;
  font-family: Arial, Helvetica, sans-serif;

}

.project_screen{
  margin-bottom: 50px;
}

#heading{
  font-family: 'Fjalla One', sans-serif;
  font-size: 45px;
}

#header_row{
  padding-bottom: 50px;
  padding-top: 10px;
  margin-right: 30%;
  margin-left: 40%;
}

#header_container{
  width: 100%;
  background-color: #C0A0A0;
}

#social_list{
  list-style:none;
  margin:0;
  padding:0px 0px 20px 0px;
}

#social_list li{
  float:left;
  padding:17px;
}

.section{
  margin-right:20%;
  margin-left: 20%;
}

#resume_link{
  background-color:  #C0A0A0;
  color:#000;
}

.project_title{
  font-weight: bold;
}

.row{
  margin-bottom: 50px;
}



